<% provide(:title, "Home") %>

  <!-- Header -->
    <section id="header">
      <header>
        <h1>Trainee-Me</h1>
        <p>Se for capaz</p>
      </header>
      <footer>
        <a href="#banner" class="button style2 scrolly-middle">RNJr 2015</a>
      </footer>
    </section>



  <!-- Banner -->
    <section id="banner">
      <h2>29 de agosto</h2><br>
      <p>Preparem-se para iniciar seu caminho de sucesso!</p>
      <footer>
        <a href="#first" class="button style2 scrolly">Estou pronto!</a>
      </footer>
    </section>


    <!-- Feature 1 -->
      <article id="first" class="container box style1 right">
        <%= image_tag("TSFC_logo.png", alt: "pic01", class: "image fit") %>
        <div class="inner">
          <p>O <strong>Trainee-me se for capaz</strong> é um evento organizado pela <strong>RN Júnior</strong> com o objetivo de promover a integração, o alinhamento e a disseminação de conhecimentos básicos dentro do Movimento Empresa Júnior, tendo como público principal os trainees ou recém-efetivados.</p>
        </div>
      </article>

    <!-- Feature 2 -->
      <article class="container box style1 left">
        <%= image_tag("trainees.jpg", alt: "pic02", class: "image fit") %>
        <div class="inner">
          <p>Nosso evento ocorrerá no dia <strong>29 de agosto de 2015</strong> nos períodos manhã e tarde, contando com palestras, rodas de discussão, dinâmicas, coffee-break, entre outras atrações. <br />A meta de adesão do evento é de 100 pessoas e ele é aberto para membros e pós-juniores de empresas e iniciativas.</p>
        </div>
      </article>

    <!-- Portfolio -->
      <article class="container box style2">
        <header>
          <h2>Palestrantes</h2>
          <p>Se liga nos feras que estarão presentes trazendo os melhores conteúdos:</p>
        </header>
        <div class="inner gallery">
          <div class="row 0%">
            <div class="3u 12u(mobile)"><a href="" class="image fit"><%= image_tag("thumbs/01.jpg", alt: "01", title: "Ad infinitum") %></a></div>
            <div class="3u 12u(mobile)"><a href="images/fulls/02.jpg" class="image fit"><%= image_tag("thumbs/02.jpg", alt: "02", title: "Dressed in Clarity") %></a></div>
            <div class="3u 12u(mobile)"><a href="images/fulls/03.jpg" class="image fit"><%= image_tag("thumbs/03.jpg", alt: "03", title: "Raven") %></a></div>
            <div class="3u 12u(mobile)"><a href="images/fulls/04.jpg" class="image fit"><%= image_tag("thumbs/04.jpg", alt: "04", title: "I'll have a cup of Disneyland, please") %></a></div>
          </div>
          <div class="row 0%">
            <div class="3u 12u(mobile)"><a href="images/fulls/05.jpg" class="image fit"><%= image_tag("thumbs/05.jpg", alt: "", title:"Cherish") %></a></div>
            <div class="3u 12u(mobile)"><a href="images/fulls/06.jpg" class="image fit"><%= image_tag("thumbs/06.jpg", alt: "", title:"Different.") %></a></div>
            <div class="3u 12u(mobile)"><a href="images/fulls/07.jpg" class="image fit"><%= image_tag("thumbs/07.jpg", alt: "", title:"History was made here") %></a></div>
            <div class="3u 12u(mobile)"><a href="images/fulls/08.jpg" class="image fit"><%= image_tag("thumbs/08.jpg", alt: "", title:"People come and go and walk away") %></a></div>
          </div>
        </div>
      </article>



    <!-- Contact -->
      <article class="container box style3">
        <header>
          <h2>newsletter</h2>
          <p>Se mantenha atualizado sobre tudo!</p>
        </header>
        <form method="post" action="#">
          <div class="row 50%">
            <div class="6u 12u$(mobile)"><input type="text" class="text" name="name" placeholder="Nome" /></div>
            <div class="6u$ 12u$(mobile)"><input type="text" class="text" name="email" placeholder="Email" /></div>
            <!-- <div class="12u$">
              <textarea name="message" placeholder="Message"></textarea>
            </div> -->
            <div class="12u$">
              <ul class="actions">
                <li><input type="submit" value="Inscrever-se" /></li>
              </ul>
            </div>
          </div>
        </form>
      </article>