<!DOCTYPE html>
<html>
<head>
  <title><%= yield(:title) %> | Trainee-Me 2015 (PS RNJr)</title>
  <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track' => true %>
  <%= javascript_include_tag 'application', 'data-turbolinks-track' => true %>
  <%= csrf_meta_tags %>
  <link rel="stylesheet" href="//maxcdn.bootstrapcdn.com/font-awesome/4.3.0/css/font-awesome.min.css">
  <!--[if lt IE 9]>
    <script src="//cdnjs.cloudflare.com/ajax/libs/html5shiv/r29/html5.min.js">
    </script>
  <![endif]-->
</head>
<body>
  

      <%= yield %>

  <section id="footer">
    <p>RN Junior na net</p>
    <ul class="icons">
      <li><a href="http://www.rnjunior.org.br" class="icon fa-globe" target="_blank"><span class="label">RNJr</span></a></li>
      <li><a href="https://www.facebook.com/federacaornjunior" class="icon fa-facebook" target="_blank"><span class="label">Facebook</span></a></li>
      <li><a href="https://www.youtube.com/channel/UCAbYOw0HVEwUBsaz0aZ8M7Q" class="icon fa-youtube" target="_blank"><span class="label">YouTube</span></a></li>
      <li><a href="https://instagram.com/RNjunior_" class="icon fa-instagram" target="_blank"><span class="label">Instagram</span></a></li>
    </ul>
    <div class="copyright">
      <ul class="menu">
        <li>&copy; Untitled. All rights reserved.</li><li>Design: <a href="http://html5up.net">HTML5 UP</a></li>
      </ul>
    </div>
  </section>
</body>
</html>
